
.nav-link {
    font-size: 14px;
    color: #666666;
}
.navbar-brand {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.outer-nav {
    flex-direction: row;
    @media (max-width: 767px) {
        margin-right: 65px;
    }
    .nav-link {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
}
.navbar-light .inner-nav .nav-link {
    min-width: 95px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    i {
        font-size: 23px;
        margin-bottom: 5px;
    }
}
.navbar-toggler {
    position: absolute;
    right: 0px;
    top: 20px;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

